
.clear {
    clear: both;
}

.main-content {
    max-width: 1400px;
    margin:0 auto;
    background-color: rgb(252, 236, 204);
}

.navmy .nav-link a {
    max-width: 1400px;
    margin:0 auto;
    background-color: white;
    text-decoration-color: #333;
    font-family: 'Lobster', cursive;
}

.navmy.nav-pills .nav-link.active {
    color: #ddd;
    background-color: green;
}

.navmy.nav-pills .nav-link {
    border-radius: 1.25rem;
    font-family: 'Lobster', cursive;
    color: #3f2f04;
}

.myfontmain{
    font-family: 'Lobster', cursive;
    font-weight: lighter;

}
.myfont2{
    font-family: 'Great Vibes', cursive;
}
.myfont3{
    font-family: 'Parisienne', cursive;
}

.headerwight{
    max-width: 1400px;
    margin:0 auto;
}

.header-logo{
    height: 200px;
    width: 100%;
    margin:0 auto;  
}

.button-view-1{
    margin:0 auto;

}
.line-empty{
    height: 20px;
    margin:0 auto;
    width: 100%;
}
.line-decorate{
    
    width: 100%;
    max-height: 20px;
    background-color: grey;
   
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
    
}
.line-decorate2{
    height: 20px;
    width: 100%;
    margin:0 auto; 
    background-repeat: repeat-x;
    background-size: auto 20px;
    background-image: url(/img/linebigdecornew4.png);
}
.line-decorate2 img{

}
.line-separator{
    width: 100%;
    height: 2px;
    margin:10px auto;
   
    background-color: black;
}
.element-indent-empty{
    height: 9rem;
    margin: 0 auto;
    width: 100%;
}
.element-post-title{
    margin:0 auto;
}
.element-post-text{
    margin:0 auto;
}
.element-post-button{
    margin:0 auto;
}
.element-line-decorate{
    margin:0 auto;
    width: 70%;
}
.footer-social-icon{
    text-align: center;
}
.footer-social-icon img{
    width: 40px;
    height: 40px;
}
.product-price{
    text-align: center;
    margin:10px auto;
  /* font-family: 'Parisienne', cursive; */
  /* font-family: 'Cinzel', serif;*/
}
.product-name{
    text-align: center;

    /*font-family: 'Parisienne', cursive;*/
    /*font-family: 'Cinzel', serif;*/
}

.product {
    float: left;
    margin: 5px 5px 5px 5px;
}
.product-main-images{

}
.flex-basis { 
    flex: 1 0 50%; 
}

.product-gallery {
    margin: 10px;
}

.product-gallery .product-main-images img {
    width: 400px;
}

.product-gallery .product-images {
    margin-top: 20px;
}
.all-product-images{
    float: left;
}
.card-product-images{
    margin-top: 5px;
    margin-right: 5px;
    width: 4rem; height: 5rem;
}
.content-card-product-images{
    background-size:cover !important;
    width:100%; height:100%;
    background-repeat: no-repeat;
    background-position: 50% 0, center !important;

}
.basket-card-product-images{
    background-size:cover !important;
    width:100%; height:100%;
    background-repeat: no-repeat;
    background-position: 50% 0, center !important;
}

.product-gallery .product-images img {
    width: 80px;
}
.bind-product-description{
    text-align: center;
}

.product-description {
    padding-top: 20px;
    
}

.name-product{
    font-size: 20px;
    margin-bottom: 15px;
}
.price-product{
    font-size: 12px;
    margin-bottom: 20px;
}
.text-product{
    margin-bottom: 20px;
}
.shop-separator{
    line-height: 37px;
}
.hpost-text{
    text-align: center;
}
.post-text-content{
    text-align: center;
}
.product-price-old{
    text-align: center;
    text-decoration: line-through;
}
.product-price-discount{
    text-align: center;  
}
.content-main-card-product-images{
    background-size:cover !important;
    width:100%; height:100%;
}
.card-product-shop{
    width: 18rem;
    height: 30rem;
}
.content-card-product-shop-images{
    background-size:cover !important;
    width:100%; height:100%;
}
.card-home-main{
    width: 20rem;
    height: 30rem;
}
.content-card-home-main-images{
    background-size:cover !important;
    width:100%; height:100%;

}
.post-contacts{
    margin:0 auto;

}
.form-message{
    margin:0 auto;
}
.contacts{
    margin:0 auto;
}
.basket{
    margin-top: 3%;
    margin-bottom: 3%;
}






.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    color: #333;
}
.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}
.login-form-1 .ForgetPwd{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}
.social-btn{
    margin-top: 2px;
    margin-bottom: 2px;
}






.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.btn-facebook {
    background-color: #405D9D;
    color: #fff;
}
.btn-twitter {
    background-color: #42AEEC;
    color: #fff;
}
.btn-vk {
    background-color: #5181b8;
    color: #fff;
}
.btn-odnoklassniki {
    background-color: #ee8208;
    color: #fff;
}
.btn-google-plus{
    background-color: #dd4b39;
    color: #fff;
}
.footer-content{
    background-color: #dd4b39;
    color: #fff;
}





.center-image {
    height: 160px; /*can be anything*/
    width: 160px; /*can be anything*/
    position: relative;
}

.center-image img {
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}

.line-testmy{
    width: 1100px;
    height: 20px;
    background-color: red;
}


.pic-element-image img{
    max-width: 900px;
    width:100%; height:100%;
}


