
.main-content {
    max-width: 1200px;
    margin:0 auto;
}

.navmy {
    max-width: 1200px;
    margin:0 auto;
}

.headerwight{
    max-width: 1200px;
    margin:0 auto;
}
.button-view-1{
    margin:0 auto;

}
.line-empty{
    height: 10px;
}